@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);

html,
body {
    min-height: 100%;
}

.layout-boxed html,
.layout-boxed body {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Content */
.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

/* General Links */
a {
    color: #3c8dbc;
}

a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
    color: #72afd2;
}

/* Page Header */
.page-header {
    margin: 10px 0 20px 0;
    font-size: 22px;
}

.page-header > small {
    color: #666;
    display: block;
    margin-top: 5px;
}

/* Widget: TODO LIST */
.todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
}

.todo-list > li {
    border-radius: 2px;
    padding: 10px;
    background: #f4f4f4;
    margin-bottom: 2px;
    border-left: 2px solid #e6e7e8;
    color: #444;
}

.todo-list > li:last-of-type {
    margin-bottom: 0;
}

.todo-list > li > input[type='checkbox'] {
    margin: 0 10px 0 5px;
}

.todo-list > li .text {
    display: inline-block;
    margin-left: 5px;
    font-weight: 600;
}

.todo-list > li .label {
    margin-left: 10px;
    font-size: 12px;
}

.todo-list > li .tools {
    float: right;
    color: #dd4b39;
}

.todo-list > li .tools form {
    display: inline;
}

.todo-list > li .tools button {
    margin-right: 5px;
    cursor: pointer;
    display: inline-block;
    border: none;
    background: transparent;
    outline: none;
}

.todo-list > li:hover .tools {
    display: inline-block;
}

.todo-list > li.done {
    color: #999;
}

.todo-list > li.done .text {
    text-decoration: line-through;
    font-weight: 500;
}

.todo-list > li.done .label {
    background: #d2d6de !important;
}

.todo-list .danger {
    border-left-color: #dd4b39;
}

.todo-list .warning {
    border-left-color: #f39c12;
}

.todo-list .info {
    border-left-color: #00c0ef;
}

.todo-list .success {
    border-left-color: #00a65a;
}

.todo-list .primary {
    border-left-color: #3c8dbc;
}

.todo-list .handle {
    display: inline-block;
    cursor: move;
    margin: 0 5px;
}

